.main-layout {

    .main-layout-container {
        margin-left: 74px;
        margin-top: 60px;
        height: 1600px;

        .inner-siderbar {
            
            .item {
                padding: 14px 16px;
                cursor: pointer;
            }

            .header {
                font-size: 20px;
                font-weight: 500;
            }

            .action {
                position:absolute;
                background-color: white;
                top: 25px;
                right: -16px;
                border: 1px solid gray;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}